<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-ico">
    <title><%=blocks.title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <%-partial('../partials/topNavigation')%>

    <section class="container">
        <h1><%=blocks.title%></h1>
        <%-body -%>
    </section>
    
  </body>
</html>